    <!--/main-header-->
    <div style="height:50px;">
        <div class="col-sm-5" style="padding: 1%;color:green">
            <h3><b>Service Pro</b></h3></div>
        <div class="col-sm-5" style="padding: 1%;">
            <h4><span class="num"><i class="fa fa-phone"> </i> +91-9886469360</span></h4></div>
        <div class="col-sm-2">
            <div class="dropdown">
                <button class="dropbtn"><i class="fa fa-bars fa-2x"></i></button>
                <div class="dropdown-content">
                    <a href="aboutus.html"><i class="fa fa-info pull-right"></i>About Us </a>
                    <a href="login.html"><i class="fa fa-sign-in pull-right"></i>Login </a>
                    <a href="registration.html"><i class="fa fa-pencil pull-right"></i>Join Us </a>
                </div>
            </div>
        </div>
    </div>

  
    <!--/banner-section-->
    <div id="demo-1" data-zs-src='["images/1.jpg", "images/1.jpg", "images/3.jpg","images/4.jpg"]' data-zs-overlay="dots">
	
        <div class="demo-inner-content">
           
            <!--/banner-info-->
            <div class="baner-info">
                <h4>Bangalore House hold service</h4>
                <a class="w3_play_icon1" href="#small-dialog1">
					Browse Service
				</a>
            </div>
            <!--/banner-ingo-->
        </div>
    </div>
    <!--/banner-section-->

    <!--//main-header-->
	
	
    <!--/banner-bottom-->
    <div class="w3_agilits_banner_bootm">
        <div class="w3_agilits_inner_bottom">
            <div id="searchFrom" class="row text-center">
                <!-- Normal Form -->
                <div id="">
                    <div class="input-cont2">
                        <div class="form-group icon-addon1">
                            <i class="fa fa-location-arrow"></i>
                            <a class="btn btn-select">
                                <input type="hidden" class="btn-select-input" id="" name="city" value="Bangalore">
                                <span class="btn-select-value">Bangalore</span>
                                <span class="btn-select-arrow glyphicon glyphicon-chevron-down"></span>
                            </a>
                        </div>
                    </div>

                    <div class="input-cont3">
                        <div class="form-group icon-addon2">

                            <input type="text" class="form-control" name="location" id="location" value="" tabindex="1" placeholder="Area Eg: SilkBoard">

                        </div>
                    </div>

                    <div class="input-cont3">
                        <div class="form-group icon-addon2">
                            <input type="text" id="service_check" class="form-control  services ui-autocomplete-input" name="services" tabindex="2" value="" placeholder="Service Eg: carpenter,plumber etc">
                        </div>
                    </div>

                    <div class="input-cont2">
                        <div class="form-group icon-addon2">

                            <input type="text" class="form-control " name="mobile" id="mob" tabindex="3" placeholder="Mobile No" required="">
                        </div>
                    </div>

                    <div class="input-cont1">
                        <button type="button" id="desktop_form" class="btn btn-search pull-right"><i class="fa fa-arrow-right"></i> Proceed
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--//banner-bottom-->

    <!--/content-inner-section-->
    <div class="agile_featured_service">

        <div class="grid_3 grid_4">
            <div class="icons">
                <h3 class="agileits-icons-title">Browse Services</h3>
                <section id="new">
                    <h3 class="page-header page-header icon-subheading">Daily Needs</h3>

                    <div class="row fontawesome-icon-list">
                        <div class="icon-box col-md-3 col-sm-4 col-xs-6"><a class="agile-icon" href="#"><i class="fa fa-asl-interpreting" aria-hidden="true"></i> Service 1</a></div>

                        <div class="icon-box col-md-3 col-sm-4 col-xs-6"><a class="agile-icon" href="#"><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i> Service 2</a></div>

                        <div class="icon-box col-md-3 col-sm-4 col-xs-6"><a class="agile-icon" href="#"><i class="fa fa-audio-description" aria-hidden="true"></i> Service 3</a></div>

                        <div class="icon-box col-md-3 col-sm-4 col-xs-6"><a class="agile-icon" href="#"><i class="fa fa-blind" aria-hidden="true"></i>Service 3</a></div>

                        <div class="icon-box col-md-3 col-sm-4 col-xs-6"><a class="agile-icon" href="#"><i class="fa fa-braille" aria-hidden="true"></i>Service 4</a></div>

                        <div class="icon-box col-md-3 col-sm-4 col-xs-6"><a class="agile-icon" href="#"><i class="fa fa-yoast" aria-hidden="true"></i>Service 5</a></div>

                    </div>
                </section>
            </div>
        </div>
    </div>

    <!--//content-inner-section-->

    <!--footer-bottom-->
    <div class="contact-services" id="contact">
        <div class="footer-serviceagile-inner"></div>
    </div>
    <!--/footer-bottom-->

    <div class="w3agile_footer_copy">
        <p>© 2017 Service Pro. All rights reserved | Design by <a href="#">DzineBrick</a></p>
    </div>
    <a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
   